$gap: 1.2vh
$black: black
$gray: gray
$white: white
$pcolor: white
$underline: 2px

$font-size: $gap*1.8
$font-size-sm: 11pt
$wrap-width: 140vh
$wrap-space: $gap

$title-font-size: 4rem
$subtitle-font-size: 2.2rem
$perex-font-size: $font-size*1.2

$navitem-font-size: $subtitle-font-size*2.2
$navitem-font-size-xxs: $subtitle-font-size/1.1
$navitem-font-size-xs: $subtitle-font-size



$underline-size: 4px



// $headings : h1 h2 h3 h4 h5 h6
// $font-size-base : 16px

// $font-size-upper : 30px
// $font-size-dec : 8px
// @each $heading in $headings
//   #{$heading}
//     font-size : $font-size-upper
//     font-size : ($font-size-upper / $font-size-base) + em
//   $font-size-upper : $font-size-upper - $font-size-dec



