article
	h2.category.mt-0
		a(href="#").underline.p-relative.negative-gap !{proj.project[0].category}<br> !{proj.project[0].date}
	section.post
		header
			h2.mt-0.negative-gap
				a(href="single"+ index +".html").negative-gap !{proj.project[0].title}
		section.p-0.post-content.negative-gap
			p !{proj.project[0].text}
		footer.p-0.negative-gap
			h2.mt-0.p-relative
				a(href="single"+ index +".html").negative-gap &#62;