extends layout.pug
block body
	body.body_pages.scolor#body(style="background-color:" + site.scolor)
block content
	.gridpages
		.obr
			img.pb-1.img-fluid(src="images/atelier.jpg", alt="")
			span Ateliér U Lužického semináře 26,  Praha 1

		.text
			h1 Kontakty
			ul
				li MgA. Jan Říčný
				li
					a.nounderline(href="tel:+420 608 132 567") +420 608 132 567
				li MgA. Filip Kosek
				li
					a.nounderline(href="tel:+420 777 030 425") +420 777 030 425
				li
					a.nounderline(href="mailto:rcnksk@rcnksk.com") rcnksk@rcnksk.com
				li
					a.nounderline(href="tel:+420 605 875 464") +420 605 875 464
				br
				li <b>Autorizace RCNKSK</b>
				li ČKA 4606
				
			h1 Studio
			ul
				li <b>Korespondenční adresa</b>
				li RCNKSK s.r.o.
				li U Lužického semináře 26
				li 118 00 Praha 1 – Malá strana
				li Česká republika
				a(href="https://g.page/RCNKSK?share", target="_blank").nav-link Zobrazit mapu
				<br>

			h1 Sídlo firmy
			ul
				li <b>Fakturační adresa</b>
				li RCNKSK s.r.o.
				li Na Pernikářce 775/26
				li 160 00 Praha 6 – Dejvice
				li Česká republika
				li IČO 26454351
				li DIČ CZ26454351
			ul
				li <b>Bankovní spojení</b>
				li 2301356317/2010 
				li Banka: Fio banka 
				li IBAN: CZ6520100000002301356317 
				li SWIFT: fiobczppxxx 	


		.vertmenu
			ul.nav
				li.nav-item 
					a.nav-link(href="https://www.facebook.com/RCNKSKarch/", target="_blank") Facebook
				li.nav-item 
					a.nav-link(href="https://www.instagram.com/rcnksk.arch/" target="_blank") Instagram
				li.nav-item 
					a.nav-link(href="https://www.instagram.com/ppnck.rcnksk/", target="_blank") ppňčk

