
<!DOCTYPE html>
html(lang="cs")
	head
		meta(charset='UTF-8')
		//- meta(name="viewport" content="initial-scale=.6, maximum-scale=1, minimum-scale=.7, user-scalable=0")
		meta(name="viewport" content="initial-scale=1, user-scalable=1")
		meta(name="description" content="Constitutional law")
		title
			block title
				| #{site.title}
		link(rel='stylesheet' href=site.stylelink)
		//- link(rel="stylesheet", href="slick/slick.css")
		//- link(rel="stylesheet", href="slick/slick-theme.css")
		//- link(href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet")
	
	block body
	body(onLoad="res();")
		include partials/navbar.pug
		block content

	block footer
		footer.footer.text-center
			//- img(src="images/loga.png",alt="Logos of UCPH and European research concil")
			p.mt-1 #{site.footer}
		script.
			var nav = document.getElementById("navbar");
			var logowrap = document.getElementById("logowrap");
			var wrap = document.getElementById("wrap");
			var pt = nav.offsetHeight + "px";
			var pt2 = logowrap.offsetHeight;
			console.log(logowrap.offsetHeight)
			window.addEventListener("resize", res);
			function res() {
				wrap.style.paddingTop = pt;
	
			}

			(function(){

			  var doc = document.documentElement;
			  var w = window;

			  var prevScroll = w.scrollY || doc.scrollTop;
			  var curScroll;
			  var direction = 0;
			  var prevDirection = 0;

			  
			  var checkScroll = function() {

			    /*
			    ** Find the direction of scroll
			    ** 0 - initial, 1 - up, 2 - down
			    */

			    curScroll = w.scrollY || doc.scrollTop;
			    if (curScroll > prevScroll) { 
			      //scrolled up
			      direction = 2;
			    }
			    else if (curScroll < prevScroll) { 
			      //scrolled down
			      direction = 1;
			    }

			    if (direction !== prevDirection) {
			      toggleHeader(direction, curScroll);
			    }
			    
			    prevScroll = curScroll;
			  };

			  var toggleHeader = function(direction, curScroll) {
			  var header = document.getElementById('navbar');

			    if (direction === 2 && curScroll > 52) { 
			      
			      //replace 52 with the height of your header in px

			      header.style.top = -pt2-30+"px";

			      prevDirection = direction;
			    }
			    else if (direction === 1) {
			      header.style.top = 0;
			      prevDirection = direction;
			    }
			  };
			  
			  window.addEventListener('scroll', checkScroll);

			})();

