extends layout.pug
block body
	body.podcast
block content
	.wrap#wrap
		main.minus-wrap.posts
			each proj, index in projects 
				if proj.project[0].category == "text"
					include partials/article-square.pug